{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}
{% block extrahead %}
    {{ block.super }}
    {{ media }}
{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url 'admin:users_user_changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {% translate 'Send Email' %}
</div>
{% endblock %}
{% block content %}
<h1>Send Email to {{ queryset.count }} User{{ queryset.count|pluralize }}</h1>
{% if users_without_email %}
    <div class="errornote">
        <p><strong>Warning:</strong> The following users do not have an email address and will be skipped:</p>
        <ul>
        {% for user in users_without_email %}
            <li>{{ user.username }}</li>
        {% endfor %}
        </ul>
    </div>
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    {% for obj in queryset %}
        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}">
    {% endfor %}
    <input type="hidden" name="action" value="send_email_action">
    <input type="hidden" name="post" value="yes">
    <fieldset class="module aligned">
        {% for field in form %}
        <div class="form-row">
            {{ field.errors }}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </fieldset>
    <div class="submit-row">
        <input type="submit" value="Send Email" class="default">
        <a href="{% url 'admin:users_user_changelist' %}" class="button cancel-link" style="float: right;">Cancel</a>
    </div>
</form>
{% endblock %}
