{% extends 'base.html' %}

{% block title %}Update Profile{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm p-4 mt-5">
            <h1 class="card-title text-center mb-4">Update Profile</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <h3>User Information</h3>
                    {% for field in user_form %}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                                <div class="text-danger">
                                    {% for error in field.errors %}
                                        <small>{{ error }}</small>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <h3>Profile Details</h3>
                    {% for field in profile_form %}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                                <div class="text-danger">
                                    {% for error in field.errors %}
                                        <small>{{ error }}</small>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary w-100 btn-lg">Update Profile</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
